.btn-start {
  display: flex;
  width: 100%;
  font-size: var(--text-p);
  background: var(--red);
  color: var(--cream);
  font-family: var(--display);
  letter-spacing: 0.18em;
  padding: 1.85rem 2rem;
  border: none;
  cursor: pointer;
  border: 4px solid var(--pink);
  transition: all 0.3s ease;
}

.btn-start:hover {
  background: var(--beige);
  color: var(--red);
  border: 4px dashed var(--pink);
}
