.form-container {
  background: var(--beige);
  border-radius: 16px; /* Esquinas redondeadas */
  padding: 2.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Define la distancia estandarizada entre campos */
}
